body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,159,255,1) 40%, rgba(133,168,255,1) 50%, rgba(0,212,255,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.container h1{
    background-color: rgb(241, 241, 241);
    padding: 20px 0;
    text-align: center;
    margin: 5% auto;
    border-radius: 25px;    
}

.generating{
    background-color: rgb(241, 241, 241);
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding:2px 0;
}

/* .check{
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    
} */

         
#check {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  #check:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  #footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    text-align: center;
  }

  .messages p{
    font-family: 'Waterfall', cursive;
    font-size: 4rem;
  }